# Regla global por defecto (Fallback para el administrador)
*                                             @erwinsaul

# Revisores por módulos específicos
/src/main/java/edu/sisinf/estante/dao/               @erwinsaul
/src/main/java/edu/sisinf/estante/servicio/          @erwinsaul
/src/main/java/edu/sisinf/estante/controller/        @erwinsaul

# Documentación
/docs/                                        @erwinsaul
